<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Irene Tenison
              </h1>
             <p>
  I am a PhD candidate at <a href="https://www.csail.mit.edu/">MIT CSAIL</a>,
  advised by
  <a href="https://scholar.google.com/citations?user=tetdudUAAAAJ&hl=en">Dr. Lalana Kagal</a>.
 My research focuses on memory- and compute-efficient post-training and inference methods for language and vision models, including on-device and federated learning.
</p>

<p>
  During my PhD, I have been fortunate to conduct research at IBM Research's <a href="https://mitibm.mit.edu/">MIT-IBM Computing Research Lab</a>,
  <a href="https://www.nokia.com/bell-labs/about/locations/cambridge-uk/">Nokia Bell Labs</a> at Cambridge, UK, and <a href="https://www.apple.com/">Apple Inc</a>. Before joining MIT, I completed my master's degree
  at <a href="https://mila.quebec/en">Mila</a> in Montreal, where I was advised by
  <a href="https://sites.google.com/view/irinarish/">Prof. Irina Rish</a> and
  <a href="https://eugenium.github.io/">Prof. Eugene Belilovsky</a>.  
</p>

<p>
  My research goal is to make AI systems practical by developing methods that enable models to learn, adapt, and operate
  efficiently under real-world memory, computation, communication, and privacy constraints.
</p>
              <p style="text-align:center">
                <a href="mailto:irene.tenison@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/IreneTenison">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=piW3r38AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/irenetenison/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_5430-modified.png">
            </td>
          </tr>
        </table>


        <!-- News -->
<table class="section-table">
  <tr>
    <td class="section-cell">
      <h2>News</h2>

      <div class="news-scroll" aria-label="Recent news">
        <ul class="news-list">
          {% for item in site.data.news limit:5 %}
          <li class="news-item">
            <span class="news-date">{{ item.date }}</span>
            <span class="news-text">{{ item.text }}</span>
            
          </li>
          {% endfor %}
        </ul>
      </div>
    </td>
  </tr>
</table>

        <!-- Research -->
<!-- Research -->
<div class="section-cell research-header">
  <h2>Recent Publications</h2>
</div>

<div class="papers-list">
  {% for paper in site.data.papers %}
  <article class="paper-entry">
    <div class="paper-date">
      {{ paper.date }}
    </div>

    <div class="paper-details">
      <h3 class="paper-title">{{ paper.title }}</h3>

      <div class="paper-authors">
        {{ paper.authors }}
      </div>

      <div class="paper-venue">
        {{ paper.venue }}
      </div>

      <div class="paper-links">
        {% if paper.paper %}
        <a href="{{ paper.paper }}" target="_blank" rel="noopener noreferrer">
          Paper
        </a>
        {% endif %}

        {% if paper.code %}
        <a href="{{ paper.code }}" target="_blank" rel="noopener noreferrer">
          Code
        </a>
        {% endif %}

        {% if paper.bib %}
        <a href="{{ site.baseurl }}{{ paper.bib }}" target="_blank">
          Bib
        </a>
        {% endif %}
      </div>
    </div>
    
  </article>
  {% endfor %}
</div>
        <p class="research-footer">
  See the full list of publications on
  <a
    href="https://scholar.google.com/citations?user=piW3r38AAAAJ&hl=en"
    target="_blank"
    rel="noopener noreferrer"
  >Google Scholar</a>.
</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

