<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Irene Tenison
              </h1>
             <p>
  I am a PhD candidate at <a href="https://www.csail.mit.edu/">MIT CSAIL</a>,
  advised by
  <a href="https://scholar.google.com/citations?user=tetdudUAAAAJ&hl=en">Dr. Lalana Kagal</a>.
 My research focuses on memory- and compute-efficient post-training and inference methods for language and vision models, including on-device and federated learning.
</p>

<p>
  During my PhD, I have been fortunate to conduct research at IBM Research's <a href="https://mitibm.mit.edu/">MIT-IBM Computing Research Lab</a>,
  <a href="https://www.nokia.com/bell-labs/about/locations/cambridge-uk/">Nokia Bell Labs</a> at Cambridge, UK, and <a href="https://www.apple.com/">Apple Inc</a>. Before joining MIT, I completed my master's degree
  at <a href="https://mila.quebec/en">Mila</a> in Montreal, where I was advised by
  <a href="https://sites.google.com/view/irinarish/">Prof. Irina Rish</a> and
  <a href="https://eugenium.github.io/">Prof. Eugene Belilovsky</a>.  
</p>

<p>
  My research goal is to make AI systems practical by developing methods that enable models to learn, adapt, and operate
  efficiently under real-world memory, computation, communication, and privacy constraints.
</p>
              <p style="text-align:center">
                <a href="mailto:irene.tenison@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/IreneTenison">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=piW3r38AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/irenetenison/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_5430-modified.png">
            </td>
          </tr>
        </table>


        <!-- News -->
<table class="section-table">
  <tr>
    <td class="section-cell">
      <h2>News</h2>

      <div class="news-scroll" aria-label="Recent news">
        <ul class="news-list">
          {% for item in site.data.news limit:10 %}
          <li class="news-item">
            <span class="news-date">{{ item.date }}</span>
            <span class="news-text">{{ item.text }}</span>
            
          </li>
          {% endfor %}
        </ul>
      </div>
    </td>
  </tr>
</table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
              <h2>Research</h2>
              <p>
                I'm interested in computer vision, machine learning, optimization, graphics and robotics.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

